@font-face {
    font-family: 'Museo-100';
    src: font-url('../fonts/Museo-100.ttf');
    src: font-url('../fonts/Museo-100.svg');
    src: font-url('../fonts/Museo-100.woff');
    src: font-url('../fonts/Museo-100.woff2');
}
@font-face {
    font-family: 'Museo-300';
    src: font-url('../fonts/Museo-300.ttf');
    src: font-url('../fonts/Museo-300.svg');
    src: font-url('../fonts/Museo-300.woff');
    src: font-url('../fonts/Museo-300.woff2');
}
@font-face {
    font-family: 'Museo-500';
    src: font-url('../fonts/Museo-500.ttf');
    src: font-url('../fonts/Museo-500.svg');
    src: font-url('../fonts/Museo-500.woff');
    src: font-url('../fonts/Museo-500.woff2');
}
@font-face {
    font-family: 'Museo-700';
    src: font-url('../fonts/Museo-700.ttf');
    src: font-url('../fonts/Museo-700.svg');
    src: font-url('../fonts/Museo-700.woff');
    src: font-url('../fonts/Museo-700.woff2');
}
