//@import './typography.scss';

$color-primary1: #c0c0c0;
$color-primary2: #fff;
$color-primary3: #562b21;
$color-primary4: #16034f;
$color-primary5: #8584b5;
$color-primary6: #cccc00;

$box-shadow1: rgba(0, 0, 0, 0.2);
